<div class="container">
  <nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"><button type="button" class="btn btn-outline-primary"  [routerLink]="['/create']">Agregar</button></a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="nombre" name="filterProduct" aria-label="Search" [(ngModel)]="filterProduct">
      <input class="form-control me-2" type="search" placeholder="Precio máximo" name="filterPrice" aria-label="Search" [(ngModel)]="filterPrice">
    </form>
  </div>
</nav>
    <table class="table">
  <thead>
    <tr >
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Descripción</th>
      <th scope="col">Fecha de Creación</th>
      <th scope="col">Fecha de Expiración</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let product of list
            | filter: filterProduct
            | filter: filterPrice
            | paginate: { itemsPerPage: 5, currentPage: page }" >
      <td scope="row">{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.description}}</td>
      <td>{{product.creation_date}}</td>
      <td>{{product.expiry_date}}</td>
      <td>
        <button type="button" class="btn btn-outline-secondary" [routerLink]="['/update/', product.id]" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
        </svg></button>
        <button type="button" class="btn btn-outline-danger" (click)="delete(product.id)" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg></button>
      </td>
    </tr>
  </tbody>
    </table>
    <pagination-controls (pageChange)="page = $event"
                          previousLabel="Anterior"
                          nextLabel="Siguiente" ></pagination-controls>
</div>
