
<div class="container">
  <form action="" >

    <legend>Actualizar Producto</legend>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Nombre</label>
      <input type="text" required="true" id="disabledTextInput" class="form-control" placeholder="name" [(ngModel)]="productAct.name" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="mb-3">
      <label for="disabledTextInput" required="true" class="form-label">Precio</label>
      <input type="text" id="disabledTextInput" class="form-control" placeholder="price" [(ngModel)]="productAct.price" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="mb-3">
      <label for="disabledTextInput" required="true" class="form-label">Descripción</label>
      <input type="text" id="disabledTextInput" class="form-control" placeholder="description" [(ngModel)]="productAct.description" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="mb-3">
      <label for="disabledTextInput" required="true" class="form-label">Fecha de Creación</label>
      <input type="date" id="disabledTextInput"  required="true" class="form-control" placeholder="" [(ngModel)]="productAct.creation_date" [ngModelOptions]="{standalone: true}" >
    </div>
    <div class="mb-3">
      <label for="disabledTextInput" required="true" class="form-label">Fecha de Expiración</label>
      <input type="date" id="disabledTextInput" class="form-control" placeholder="" [(ngModel)]="productAct.expiry_date" [ngModelOptions]="{standalone: true}" >
    </div>
    <button type="submit" class="btn btn-outline-success" (click)="save()">Guardar Cambios</button>

</form>
</div>
